{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "targets": "defaults",
        "corejs": 3
      }
    ],
    "@lingui/babel-preset-react"
  ]
}
