<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Raan</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="application-name" content="Raan" />
    <meta name="description" content="Typing App" />
    <meta name="theme-color" content="#000000" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ origin }}{{ og.url }}" />
    <meta property="og:title" content="{{ og.title }}" />
    <meta property="og:description" content="{{ og.description }}" />
    <meta property="og:image" content="{{ origin }}/icons/icon-144x144.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@bizen241" />
    <meta name="twitter:image" content="{{ origin }}/icons/icon-144x144.png" />

    <link rel="manifest" href="/manifest.json" />

    <noscript>For full functionality of this site it is necessary to enable JavaScript.</noscript>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
