<!DOCTYPE html>
<html lang="en">

<head>
  <title>Raaan</title>

  <meta charset="utf-8">

  <meta name="application-name" content="Raaan" />
	<meta name="description" content="LMS with gamification">
	<meta name="theme-color" content="#000000" />

  <link rel="manifest" href="/manifest.json">
</head>

<body>
  <div id="root"></div>

  <script src="/main.js"></script>
</body>

</html>
