<!DOCTYPE html>
<html lang="en">

<head>
  <title>Raan</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="application-name" content="Raan" />
	<meta name="description" content="LMS with gamification">
	<meta name="theme-color" content="#000000" />

  <link rel="manifest" href="/manifest.json">

  <noscript>For full functionality of this site it is necessary to enable JavaScript.</noscript>
</head>

<body>
  <div id="root"></div>

  <script src="/main.js"></script>
</body>

</html>
